<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/profile.css">
  </head>
  <body>
    <% include header %>
    
    <main>
      <h1>プロフィール変更</h1>
      <form action="/profile" method="POST">
        <input type="date" name="birthday" value="<%= form.birthday %>">
        <br>
        <select name="gender">
          <option value="man" <%= (form.gender === "man") && "selected" %>>Man</option>
          <option value="woman" <%= (form.gender === "woman") && "selected" %>>Woman</option>
        </select>
        <br>
        <select name="countryId">
          <% countries.forEach((country) => { %>
            <option value="<%= country.id %>" <%= (country.id === Number(form.countryId)) ? 'selected' : '' %> >
              <%= country.name %>
            </option>
          <% }) %>
        </select>
        <br>
        <button type="submit">変更</button>
      </form>
      <div class="errors">
        <% if (errors) {
          errors.forEach((error) => { %>
            <p><%= error %></p>
          <% })
        } %>
      </div>
    </main>
  </body>
</html>
