<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/signup.css">
  </head>
  <body>
    <div class="container">
      <main>
        <section>
          <article>
            <div class="article-item">
              <div class="logo">
                <img src="logo_shape.png"></img>            
              </div>
            </div>
            <div class="article-item">
              <form action="/signup" method="POST">
                <div>
                  <label>メールアドレス<br>
                    <input type="email" name="email" value="<%= form.email %>">
                  </label>
                </div>
                <div>
                  <label>パスワード<br>
                    <input type="password" name="password" value="">
                  </label>
                </div>
                <div>
                  <label>誕生日<br>
                    <%- include("birthday", {
                      form: form,
                      years: years,
                      months: months,
                      days: days
                      }) %>
                  </label>
                </div>
                <div>
                  <label>性別<br>
                    <select name="gender">
                      <option value="man" <%= (form.gender === "man") && "selected" %>>Man</option>
                      <option value="woman" <%= (form.gender === "woman") && "selected" %>>Woman</option>
                    </select>
                  </label>
                </div>
                <div>
                  <label>国<br>
                    <select name="countryId">
                      <% countries.forEach((country) => { %>
                        <option value="<%= country.id %>" <%= (country.id.toString() === form.countryId.toString()) ? 'selected' : '' %> ><%= country.name %></option>
                      <% }) %>
                    </select>
                  </label>
                </div>
                <div>
                  <button type="submit">アカウント作成</button>
                </div>
              </form>
            </div>
            <div class="article-item">
              <div class="errors">
                <% if(errors) {
                  errors.forEach((error) => { %>
                    <p><%= error %></p>
                  <% })
                } %>
              </div>
            <div>
          </article>
        </section>
      </main>
      <%- include("footer", {}) %>
    </div>
  </body>
</html>
