<html>
  <head></head>
  <body>
    <h1>サインアップ</h1>
    
    <form action="/signup" method="POST">
      <input type="text" name="email" placeholder="email" value="<%= email %>">
      <br>
      <input type="password" name="password" placeholder="password" value="">
      <br>
      <input type="date" name="birthday" placeholder="birthday" value="<%= birthday %>">
      <br>
      <select name="gender">
        <option value="man">Man</option>
        <option value="woman">Woman</option>
      </select>
      <br>
      <select name="country">
        <% if(countries) {
          countries.forEach((country) => { %>
            <option value="<%= country.id %>"><%= country.name %></option>
          <% })
        } %>
      </select>
      <button type="submit">サインアップ</button>
    </form>

    <% if(errors) {
      errors.forEach((error) => { %>
        <p><%= error %></p>
      <% })
    } %>
  </body>
</html>
