<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/signup.css">
  </head>
  <body>
    <div class="container">
      <main>
        <section>
          <article>
            <img src="logo_shape.png"></img>
            <h1>アカウント作成</h1>
            <form action="/signup" method="POST">
              <input type="text" name="email" placeholder="email" value="<%= form.email %>">
              <br>
              <input type="password" name="password" placeholder="password" value="">
              <br>
              <%- include("birthday", {
                form: form,
                years: years,
                months: months,
                days: days
                }) %>
              <br>
              <select name="gender">
                <option value="man" <%= (form.gender === "man") && "selected" %>>Man</option>
                <option value="woman" <%= (form.gender === "woman") && "selected" %>>Woman</option>
              </select>
              <br>
              <select name="countryId">
                <% countries.forEach((country) => { %>
                  <option value="<%= country.id %>" <%= (country.id.toString() === form.countryId.toString()) ? 'selected' : '' %> ><%= country.name %></option>
                <% }) %>
              </select>
              <br>
              <button type="submit">サインアップ</button>
            </form>
            <div class="errors">
              <% if(errors) {
                errors.forEach((error) => { %>
                  <p><%= error %></p>
                <% })
              } %>
            </div>
          </main>
        </article>
      </section>

      <%- include("footer", {}) %>
    </div>
  </body>
</html>
