<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/summary.css">
  </head>
  <body>
    <div class="container">
    <%- include("header", {
      form: {
        logoUrl: "logo_shape.png",
        active: "summary"
      }
    }) %>

    <main>
      <section>
        <article>
          <h1></h1>
          <div class="summaries">
            <% const summaries = form.summaries
            if (summaries) {
              if (summaries.length > 0) {
              summaries.forEach(summary => { %>
                <img src="<%= summary.thumbnailUrl %>">
                <form action="/summary/delete" method="POST">
                  <button type="submit" name="imageId" value="<%= summary.id %>">画像の削除</button>
                </form>
                <p>like率: <%= summary.likeRate %></p>
              <% })
              } else if (summaries.length === 0) { %>
              <p>投稿された画像がありません。</p>
            <% }
            } %>
          </div>

          <!-- ①チャート描画先を設置 -->
          <canvas id="myChart" style="width: 100%; height: 300px;"></canvas>
          
          <!-- その他内容（任意） -->
          
          <!-- ②Chart.jsの読み込み -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
          
          <!-- ③チャート描画情報の作成 -->
          <script>
              var ctx = document.getElementById("myChart");
              var myChart = new Chart(ctx, {
                  type: 'bar', // チャートのタイプ
                  data: { // チャートの内容
                      labels: ["one", "two", "three", "four", "five", "six"],
                      datasets: [{
                          label: 'red',
                          data: [12, 19, 3, 5, 2, 3],
                          backgroundColor: 'rgba(255, 99, 132, 1)',
                          borderWidth: 1
                      }, {
                          label: 'blue',
                          data: [10, 14, 6, 8, 1, 4],
                          backgroundColor: 'rgba(54, 162, 235, 1)',
                          borderWidth: 1
                      }]
                  },
                  options: { // チャートのその他オプション
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero:true
                              }
                          }]
                      }
                  }
              });
          </script>
        </article>
      </section>
    </main>

    <%- include("footer", {}) %>
    </div>
  </body>
</html>
