<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/summary.css">
  </head>
  <body>
    <div class="container">
    <%- include("header", {
      form: {
        logoUrl: "logo_shape.png",
        active: "summary"
      }
    }) %>

    <main>
      <section>
        <article>
          <div class="article-item">
            <% const summaries = form.summaries
            if (summaries) {
              if (summaries.length > 0) {
              summaries.forEach(summary => { %>
                <div class="image">
                  <form action="/summary/delete" method="POST">
                    <div class="image-delete">
                      <button type="submit" name="imageId" value="<%= summary.id %>">画像の削除</button>
                    </div>
                  </form>
                  <img src="<%= summary.thumbnailUrl %>">
                  <div class="image-rating">
                    <p class="like-word"><img src="/like_fill.png">いいね</p>
                    <p class="like-rate"> :<%= summary.likeRate %></p>
                  </div>
                </div>
              <% })
              } else if (summaries.length === 0) { %>
              <p>投稿された画像がありません。</p>
            <% }
            } %>
          </div>
        </article>
      </section>
    </main>

    <%- include("footer", {}) %>
    </div>
  </body>
</html>
